body {
	margin-top:20px;
	font-family: sans-serif;
	font-weight: 100;
	background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:black;

}


table {
	overflow:auto;
	box-shadow: 0 0 100px rgba(0,0,0,5);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}


